doctype html
html
    head
        meta(charset='utf-8')
        title Socios Club Escalada Costa Blanca
    body
        div
            ul
                each partner in partners
                    li= Object.keys(partner).map(key => `${key}: ${partner[key]}`).join(', ')
            hr
